In [2]:
import pandas as pd
from pandas_profiling import ProfileReport

import seaborn as sns

import numpy as np

from IPython.core.display import display, HTML, Markdown

import sweetviz as sv

In [69]:
df = pd.DataFrame({'A' : [np.inf, 2, 3, 4], 'B' : [0, -np.inf, 0, 0]})
df

     A    B
0  inf  0.0
1  2.0 -inf
2  3.0  0.0
3  4.0  0.0

In [4]:
(df['B'] == 0).count()

4

In [12]:
list(df.columns)

['A', 'B']

In [14]:
list(df[f'{i}'].count() for i in df.columns)

[4, 4]

In [36]:
def misva(data):
    col_names = list(data.columns)
    values = list((df[f'{i}'] == 0).sum() for i in df.columns)
    return pd.DataFrame({'Columns name' : col_names, 'Zeros' : values}).reset_index(drop=True)

In [38]:
r = misva(df)
r

  Columns name  Zeros
0            A      0
1            B      4

In [27]:
(df['A'] == 0).sum()

0

In [39]:
f

NameError: name 'f' is not defined

In [40]:
r

  Columns name  Zeros
0            A      0
1            B      4

In [41]:
pal = sns.light_palette("red", as_cmap=True)
df = pd.DataFrame(data.items(), columns=['Cols', 'Mis values'])
display(HTML(df.style.background_gradient(cmap=pal).to_html()))

NameError: name 'data' is not defined

In [45]:
pal = sns.light_palette("red", as_cmap=True)
df.style.background_gradient(cmap=pal)
display(HTML(df.style.background_gradient(cmap=pal).to_html()))

In [46]:
pd.DataFrame({'Cols' : df.columns})

  Cols
0    A
1    B

In [47]:
def nami(data):
    return pd.DataFrame({'Cols' : data.columns})

In [51]:
df.A

0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [57]:
d = [11, 22, 33]
ser = pd.Series(d)
ser

0    11
1    22
2    33
dtype: int64

In [75]:
df.isna().sum()

A    0
B    0
dtype: int64

In [60]:
type(df.isna().sum())

pandas.core.series.Series

In [74]:
(df == np.inf).sum() + (df == -np.inf).sum()

A    1
B    1
dtype: int64

In [72]:
df.columns

Index(['A', 'B'], dtype='object')

In [73]:
df = pd.DataFrame({'A' : [np.inf, 2, 'c', 4], 'B' : [0, -np.inf, 0, 0]})
df

     A    B
0  inf  0.0
1    2 -inf
2    c  0.0
3    4  0.0

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

In [83]:
type(df.dtypes)

pandas.core.series.Series

In [82]:
[1, 2].dtypes

AttributeError: 'list' object has no attribute 'dtypes'

In [84]:
r = pd.Series([1, 2, 4])

In [85]:
r

0    1
1    2
2    4
dtype: int64

In [86]:
type(r)

pandas.core.series.Series